<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>filter.SAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TeacherFilter</filter-name>
        <filter-class>filter.TAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <servlet-name>QuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <servlet-name>StudentResultServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>DeleteChoiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>EditChoiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>EditQuestionServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>AddChoiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>AddQuestionServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>EditQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>AddQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>QuizResultServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/Quiz.jsp</url-pattern>
        <url-pattern>/StudentResult.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <url-pattern>/AddChoice.jsp</url-pattern>
        <url-pattern>/AddQuestion.jsp</url-pattern>
        <url-pattern>/AddQuiz.jsp</url-pattern>
        <url-pattern>/EditChoice.jsp</url-pattern>
        <url-pattern>/EditQuestion.jsp</url-pattern>
        <url-pattern>/EditQuiz.jsp</url-pattern>
        <url-pattern>/QuizResult.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/KamuuIndex.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>servlet.QuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreQuizServlet</servlet-name>
        <servlet-class>servlet.PreQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentResultServlet</servlet-name>
        <servlet-class>servlet.StudentResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultServlet</servlet-name>
        <servlet-class>servlet.QuizResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>servlet.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>servlet.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>servlet.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>servlet.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChoiceServlet</servlet-name>
        <servlet-class>servlet.AddChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>servlet.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChoiceServlet</servlet-name>
        <servlet-class>servlet.EditChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChoiceServlet</servlet-name>
        <servlet-class>servlet.DeleteChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>servlet.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreQuizServlet</servlet-name>
        <url-pattern>/PreQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentResultServlet</servlet-name>
        <url-pattern>/StudentResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultServlet</servlet-name>
        <url-pattern>/QuizResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
        <url-pattern>/EditQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChoiceServlet</servlet-name>
        <url-pattern>/AddChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/EditQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChoiceServlet</servlet-name>
        <url-pattern>/EditChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChoiceServlet</servlet-name>
        <url-pattern>/DeleteChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
